body {
    background-color: rgb(255, 255, 255);
}

nav {
    display: block;
    color: black;
    background-color: rgb(83, 45, 36);
    text-align: center;
    width: 100%;
    margin-top: 25px;
    font-size: 22px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

.logo {
    text-align: center;
}

.xicara {
    width: 100%;
}

.principal {
    text-align: center;
    margin: 15px;
    font-size: 25px;
    color: black;
}

p {
    margin: 15px;
    font-family: Georgia;
    font-size: 16px;
    color: black;
}

.cafe {
    float: left;
}

.primeiro {
    margin: 16px;
    text-align: left;
    float: left;
    width: 610px;
    display: table;
}

.mapa {
    float: left;
}

.segundo {
    margin: 16px;
    text-align: left;
    float: left;
    width: 610px;
    display: table;
}

h1 {
    color: rgb(83, 45, 36);
    margin: 15px;
    font-style: italic;
}

h2,
h3 {
    color: rgb(83, 45, 36);
    font-style: italic;
    font-size: 25px;
}

a {
    color: rgb(83, 45, 36);
}

.hr1 {
    size: 0;
    width: 100%;
}

footer {
    text-align: right;
    color: black;
}